In [3]:
import pandas as pd
import numpy as np
import random

In [175]:
dataset = pd.read_csv('credit_data.csv')
dataset.shape

(2000, 5)

Amostragem aleatória simples

In [176]:
def amostra_aleatoria_simples(dataset, amostras):
    return dataset.sample(n = amostras)

In [178]:
df_amostragem_aleatoria_simples = amostra_aleatoria_simples(dataset, 20)
df_amostragem_aleatoria_simples.shape

(20, 5)

In [113]:
df_amostragem_aleatoria_simples.head()

      i#clientid        income        age          loan  c#default  grupo
1389        1390  39553.647377  53.690633   7063.898036          0      6
1751        1752  65913.830842  36.477758  11738.915705          0      8
173          174  36186.848073  50.506752   1130.735265          0      0
1655        1656  33820.186513  61.050884   4342.178111          0      8
1817        1818  33614.494610  46.473082   4837.787511          0      9

In [179]:
df_amostragem_aleatoria_simples.tail()

      i#clientid        income        age         loan  c#default
1110        1111  60720.796096  38.820360  3278.179727          0
756          757  38381.413061  54.083371   322.724156          0
1758        1759  23193.604597  41.936057   548.596116          0
718          719  31895.715306  48.185907  3423.346172          0
82            83  36801.907180  43.027943  5406.344926          0

Amostragem sistemática

In [180]:
dataset.shape

(2000, 5)

In [154]:
amostra = 100
intervalo = len(dataset) // amostra
print(intervalo)

20

In [181]:
#o valor do início precisar estar entre o valor do intervalo
inicio = 10
np.arange(inicio, len(dataset), step = intervalo )

array([  10,   30,   50,   70,   90,  110,  130,  150,  170,  190,  210,
        230,  250,  270,  290,  310,  330,  350,  370,  390,  410,  430,
        450,  470,  490,  510,  530,  550,  570,  590,  610,  630,  650,
        670,  690,  710,  730,  750,  770,  790,  810,  830,  850,  870,
        890,  910,  930,  950,  970,  990, 1010, 1030, 1050, 1070, 1090,
       1110, 1130, 1150, 1170, 1190, 1210, 1230, 1250, 1270, 1290, 1310,
       1330, 1350, 1370, 1390, 1410, 1430, 1450, 1470, 1490, 1510, 1530,
       1550, 1570, 1590, 1610, 1630, 1650, 1670, 1690, 1710, 1730, 1750,
       1770, 1790, 1810, 1830, 1850, 1870, 1890, 1910, 1930, 1950, 1970,
       1990])

In [183]:
def amostragem_sistematica(dataset, amostra):
    intervalo = len(dataset) // amostra
    random.seed(1)
    inicio = random.randint(0, intervalo - 1)
    
    # Gera os índices sistemáticos
    indices = np.arange(inicio, len(dataset), step = intervalo)
    amostra_sistematica = dataset.iloc[indices]
    return amostra_sistematica

In [184]:
df_amostra = amostragem_sistematica(dataset, 20)

In [185]:
print(df_amostra)

      i#clientid        income        age          loan  c#default
17            18  43378.175194  60.848318   3277.737553          0
117          118  63062.142096  26.585778     56.166164          0
217          218  65077.322028  50.979135  11061.811895          0
317          318  55858.549236  25.866534   5630.444972          0
417          418  24349.002952  53.752523   3890.471050          0
517          518  56960.673844  25.517999   4856.483454          0
617          618  33338.943990  46.598514   2929.851424          0
717          718  34336.017589  35.830652   3441.644524          0
817          818  37087.268759  57.576301   6391.153194          0
917          918  49746.887437  29.361462   7354.129523          1
1017        1018  34735.491748  62.358956   1402.217854          0
1117        1118  43588.081426  40.495647   6453.057979          0
1217        1218  29279.749787  18.813099   2291.988119          0
1317        1318  62125.258106  21.085868   5700.457195          0
1417        1418  56445.473915  55.661520   6875.579683          0
1517        1518  49064.288468  43.372345   5636.353440          0
1617        1618  67772.793681  41.515261   5037.933861          0
1717        1718  45165.925955  37.900004   5534.550798          0
1817        1818  33614.494610  46.473082   4837.787511          0
1917        1918  46134.854136  54.865446   8716.611259          0

Amostragem por grupos

In [187]:
def amostragem_agrupamento(dataset, numero_grupos):
    intervalo = len(dataset) / numero_grupos

    grupos = []
    id_grupo = 0
    contagem = 0
    for _ in dataset.iterrows():
        grupos.append(id_grupo)
        contagem += 1

        if contagem > intervalo:
            contagem = 0
            id_grupo += 1

    dataset['grupo'] = grupos
    grupo_selecionado = random.randint(0, numero_grupos - 1) 
    return dataset[dataset['grupo'] == grupo_selecionado]

In [188]:
df_amostra_agrupamento = amostragem_agrupamento(dataset, 2)

In [191]:
df_amostra_agrupamento.shape
df_amostra_agrupamento['grupo'].value_counts()

grupo
0    1001
Name: count, dtype: int64

In [189]:
dataset.head()

   i#clientid        income        age         loan  c#default  grupo
0           1  66155.925095  59.017015  8106.532131          0      0
1           2  34415.153966  48.117153  6564.745018          0      0
2           3  57317.170063  63.108049  8020.953296          0      0
3           4  42709.534201  45.751972  6103.642260          0      0
4           5  66952.688845  18.584336  8770.099235          1      0

In [192]:
dataset.tail()

      i#clientid        income        age         loan  c#default  grupo
1995        1996  59221.044874  48.518179  1926.729397          0      1
1996        1997  69516.127573  23.162104  3503.176156          0      1
1997        1998  44311.449262  28.017167  5522.786693          1      1
1998        1999  43756.056605  63.971796  1622.722598          0      1
1999        2000  69436.579552  56.152617  7378.833599          0      1

Amostragem estratificada

In [47]:
from sklearn.model_selection import StratifiedShuffleSplit

In [214]:
# Verificar a distribuição dos valores.
dataset['c#default'].value_counts()

c#default
0    1717
1     283
Name: count, dtype: int64

In [222]:
x = 1717 / len(dataset)
y =  283 / len(dataset)
print(x, y)

0.8585 0.1415

In [227]:
def amostragem_estratificada(dataset, percentual, campo):
    split = StratifiedShuffleSplit(test_size = percentual, random_state = 1)
    for x, y in split.split(dataset, dataset[campo]):
        df_x = dataset.iloc[x]
        df_y = dataset.iloc[y]
    return df_x, df_y

In [240]:
df_x, df_y = amostragem_estratificada(dataset, 0.5, 'c#default')
df_x.shape 
df_y.shape

(1000, 6)